

body {
  display: flex;
  flex-direction: row;
  margin: 0;
  height: 100%;
  width: 100%;
}

/* -----Side Nav------ */
.nav-bar {
  background-color: #bb9457;
  width: 150px;
  height: 100vh;
  position: fixed;
  
  padding: 1%;
}

.user-image {
  height: 50px;
  width: 50px;
}

.sidebar-icon {
  height: 15px;
  width: 15px;
  margin-right: 4%;
}

.community-sidebar-container,
.main-sidebar-container {
  margin-top: 10%;
  margin-bottom: 10%;
}

.community-sidebar,
.main-sidebar {
  list-style: none;
  margin-top: 10%;
}

.user-options-sidebar-container {
  display: flex;
  flex-direction: column;
  margin: 2%;
}


/* ------top nav------ */
.main-content {
  display: flex;
  flex-direction: column;
  margin-left: 172px;
}

.menu {
  display: flex;
  justify-content: space-between;
}

.menu-list {
  list-style: none;
}

.menu-left,
.menu-right {
  display: flex;
}

.menu-icons {
  width: 20px;
  height: 20px;
  padding: 20px;
  border: solid rgb(207, 207, 207) 1px;
}

.search-box {
  height: 62px;
  width: 70vw;
}

.checkbox {
  position: absolute;
}

/* ------title content------ */
.shop-title {
  padding-left: 30px;
}


/* ------tabs------ */
.artist-tabs {
  display: flex;
  flex-wrap: wrap;
  margin-top: 20px;
  margin-bottom: 16px;
  width: 75%;
}

.artist-tabs input[type='radio'] {
  display: none;
}

.artist-tabs label {
  padding: 10px;
  background: #b1b1b2ea;
  cursor: pointer;
}

.artist-tabs input[type='radio']:checked + label + .tab {
  display: block;
}

.artist-tabs [type='radio']:checked + label {
  background: #a397d2;
}


/* ------bottom arist info------ */
.artist-container {
  background-color: #f2e9e4;
  padding-left: 30px;
}


.infograph {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 40px;
  width: 35vw;
  justify-content: flex-end;
}

.artist-data-container {
  display: flex;
  justify-content: space-between;
}


.more-artistinfo-container {
  display: flex;
}

/* ------table------ */
table {
  border: 1px solid black;
  border-collapse: collapse;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-right: 20px;
}

tr {
  /* border: 1px solid purple; */
}

th {
  padding: 5px;
  /* border: 1px solid green; */
}

.title-row {
  width: 100%;
}

.table-title {
  background-color: gray;
}